@font-face {
  font-family: "jeju";
  src: url("../fonts/EF_jejudoldam\(맥용_OTF\).otf");
}

@font-face {
  font-family: "레코체";
  src: url("../fonts//Recipekorea\ 레코체\ FONT.otf");
}

@font-face {
  font-family: "어그로체";
  src: url("../fonts/SB\ 어그로OTF\ B.otf");
}

@font-face {
  font-family: "이누체";
  src: url("../fonts/RixInooAriDuri_Pro\ Regular.otf");
}
