@font-face {
  font-family: "로고";
  src: url("../../../public/fonts/HeirofLightOTFBold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tenada";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.errorMessage {
  font-family: "Tenda";
  color: rgb(60, 24, 24);
  font-weight: bold;
}

.logo {
  font-family: "LOTTERIACHAB";
  font-size: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.loginAuth {
  font-family: "로고";
  padding: 80px;
  text-align: center;

  background-color: white;
}

.bgauth {
  background-color: #14253f;
  background-image: url("../../../public/assets/1.1.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inputBox {
  background-image: url("../../../public/assets/Group 24.png");

  background-size: 100% 100%;

  max-width: 850px;
  max-height: 680px;
  padding: 40px;
  height: auto;
}

.textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 200px;
}
