@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");

  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.middleBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 80%;
  background: #d9d9d9;
  border-radius: 15px;
}

.tweets::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.tweets {
  position: relative;
  padding: 10px;

  margin-top: -7px;
  width: 95%;
  height: 90%;
  border-radius: 15px;
  background-color: white;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.title {
  background-image: url("../../../public/assets/Group\ 25.png");
  background-size: contain;
  width: 700px;
  background-repeat: no-repeat;
  padding: 1.5%;
  margin-left: 50px;
  margin-top: 14px;
}

.input {
  background: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.inputBtn {
  width: 100%;

  display: flex;
  justify-content: end;
  padding-right: 10px;
}
